/* Remove default browser spacing */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
}

/* Main Container */
.container{
    height:100vh;
    display:flex;
    flex-direction:column;
}
.login_register
{ 
    margin-left:auto;   /* Pushes to right */
    display:flex;
    gap:8px;
    padding-right:20px;
}
.login-btn,.register-btn{
    margin-left:20px ;
    border: none;
    background: #FF4500;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;    
    cursor: pointer;
    font-weight: 600;
}
/* Top Heading */
.header{
    flex-shrink:0; 
    height:55px;
    background:#0E1113;
    border-bottom:1px solid #343536;
    display:flex;
    align-items:center;
    padding-left:10px;
    font-size: 10px;
}

.header h1{
    color:#FF4500;
}

/* Bottom Area */
.content{
    flex:1;
    display:flex;
}

/* Left Div */
.left-panel{
    width:220px;
    background:#0E1113;
    border-right:1px solid #343536;
    padding:20px;
    color: aliceblue;
}

/* Right Div */
.right-panel{
    flex:1;
    background:#0E1113;
    padding:20px;
    /* Makes only this section scrollable */
    overflow-y:auto;
}

.createcomment{
    border-radius: 30px;
    padding: 6px;
    background-color: #FF4500;
    color:aliceblue;
    border: none;
    outline: none;
    box-shadow: none;
    /* border-bottom: 10px; */
}
.createcomment:hover{
    background-color: #ff5f1f;
}
.overlay{
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}