.comments-container{
    margin-top: 10px;
    height:500px;
    overflow-y: auto;
    width:750px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */

}

/* Each Comment */
.comment-card{
    border-bottom: 1px solid #cdc6c6;
    padding: 20px 25px;
}

/* Username */
.username{
    color: #d7dadc;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Comment Text */
.comment-text{
    color: #d7dadc;
    font-size: 16px;
    max-width: 600px;
    margin-left: 15px;
}

/* Button Section */
.action-section{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.reply-btn{
    background: #e64a35;
    color: white;

    border: none;
    border-radius: 20px;

    padding: 8px 18px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 500;

    transition: 0.3s;
}

.reply-btn:hover{
    background: #ff5f45;
}


.comments-container::-webkit-scrollbar{
    display: none; /* Chrome, Edge, Safari */
}

